

/*HEADER STYLES*/

.header .bar-item {
	background:#1e1e20;
	height: 39px;
	position: absolute;
    top: 0px;
}
.header .bar-item .items{
	padding: 11px 0 11px 70px;
}

.header .bar-item .items .list-items li a{
	color:#d3d3d4;
	text-decoration: none;
	font-size: 14px;
}
.header .bar-item .items .list-items {
	/*padding: 10px 0;*/
	overflow: hidden;
    margin: 0;
}
.header .bar-item .items ul li{
	list-style: none;
    float: left;
    font-size: 12px;
    padding: 0px 4px;
    border-right: 2px solid gray;
}

.header .bar-item .search .navbar-form{
	margin: 0;
}
.header .bar-item .search .navbar-form .input-group button{
	border: none;
}
.header .bar-item .search .navbar-form .input-group input{
	border: none;
    border-bottom: 1px solid;
    border-radius: 0px;
    background: none;
    color: #f7f7f7;
}
.header .bar-item .search .navbar-form .input-group-btn{
    padding: 5px 10px;
}
.header .bar-item .icn-media{
	background: #924d9c;
	padding: 7px 0px 6px 25px;
}
.header .bar-item .search{
    padding: 1px 20px;
}
.header .bar-item .search .navbar-form{
	padding: 2px 0px;
}  

.header .bar-item .icn-media a .fa{
	font-size: 25px;
	color: #000;
    padding: 0 5px;
}  


.header .nav{
	padding: 0;
	position: absolute;
    top: 39px;
    padding: 0 80px;
    background: rgba(0, 0, 0, 0.51)
}
.header .nav .logo-header, .header .nav .icon-phone{
	padding: 25px 25px;
}
.header .nav .icon-phone p{
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	display: inline-block;
}

.header .nav .icon-phone img{
	float: left;
    padding: 5px 9px 5px 9px;
}

.header .nav .nav-item{
	text-align: center;
}
.header .nav .nav-item ul{
	display: inline-block;
	padding: 0;
}
.header .nav .nav-item ul li{
	float: left;
    list-style: none;
    padding-right: 15px;
}
.header .nav .nav-item ul li a{
	text-decoration: none;
	color: #fff;
}


.header .flexslider{
	border: none;
	margin: 0;
}
.flex-direction-nav a:before{
	color: #fff
}
.flex-direction-nav .flex-nav-next a{
	right: 25.5% !important;
    top: 47% !important;
    text-align: left !important;
}
.flex-direction-nav .flex-nav-prev a{
	top: 57% !important;
	left: 71.5%;
	text-align: left !important;
}
.header .flexslider .flex-direction-nav a{
	height: 50px;
}
.flex-control-nav{display: none}

.header .section-middle{
	position: absolute;
	top: 45%;
	border-right: 60px solid rgba(0, 0, 0, 0.65);
	margin: 0 25%;
	background: rgba(122, 63, 103, 0.72);
}
.header .section-middle .section-middle-price .price{
	text-align: center;
}
.header .section-middle .section-middle-price .price h2, .header .section-middle .section-middle-price .title-price p, .header .section-middle .section-middle-price .price p{
	margin: 0;
}
.header .section-middle .section-middle-title h2,
.header .section-middle .section-middle-price .title-price p,
.header .section-middle .section-middle-price .price h2,
.header .section-middle .section-middle-price .price p {
	color: #fff;
}


	/*--- list items hover ---*/      
.header .bar-item .items .list-items .hvr-underline-from-center:before{
	    background: #dcdcdc;
	    height: 1px;
}
.header .bar-item .items .list-items li a:hover{
	    color: #f7f7f7;
}
.header .nav .nav-item .hvr-underline-from-center:before{
	  background: #dcdcdc;
	    height: 1px;
}
.header .nav .nav-item .hvr-trim:before{
	top: -6px;
    left: -12px;
    right: -12px;
    bottom: -3px;
    border:#dfdcda solid 2px;

}
.header .bar-item .icn-media a .fa:hover{
	color: #fff;
}  

	/*--- END OF list items hover ---*/  


/*END OF HEADER STYLES*/



/* CONTAINER STYLES */
.container {
	padding: 0px;
	float: none;
}
.container .container-fluid .plateforme .btn-inscription button{
	background-color: #924d9c;
    border-color: #924d9c;
    padding: 3px 20px;
}
.container .container-fluid .plateforme .btn-inscription{
	text-align: center;
}
  















/* BREAK POINT */

@media only screen and (min-width: 1024px) {
  /* desktops */

}


@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* tablets */
 
 	.header .bar-item .icn-media{
 		text-align: center;
 	}
  	.header .bar-item .icn-media a {
    	padding: 0 50px;
    	
	}
	.header .bar-item .search{
		display: inline-block;
	}
	.header .nav{
		position: absolute;
    	top: 75px;
    	padding: 0 75px;
	}
	.header .bar-item .items{
		    padding: 9px 0px 9px 40px;
	}
	.header .nav .icon-phone img{
		padding: 0px 7px;
		float:none;
	}
	
	.header .bar-item .items .list-items li a{
		font-size: 15px;
	}
	.header .nav .nav-item ul li a{
		font-size: 11px;
	}
	.header .section-middle{
	    top: 19%;
    	margin: 0px 16%
	}
	.flex-direction-nav .flex-nav-prev a{
		left: 79.5%;
	    top: 58% !important;
	}
	.flex-direction-nav .flex-nav-next a{
	    right: 16.5% !important;
    	top: 72% !important;
	}
	
}

@media only screen and (max-width: 767px) {
  /* phones */
  	.header .section-middle{
  		top: 15%;
  	}

 }

 



/*END OF BREAK POINT*/


/*FONTS*/

 @font-face {
	font-family: 'flexslider-icon';
	src:url('../fonts/flexslider-icon.eot');
	src:url('../fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),
	    url('../fonts/flexslider-icon.woff') format('woff'),
	    url('../fonts/flexslider-icon.ttf') format('truetype'),
	    url('../fonts/flexslider-icon.svg#flexslider-icon') format('svg');
	font-weight: normal;
	font-style: normal};
	
}

@font-face {
	font-family: 'Hind', sans-serif;
	
	src: url('https://fonts.googleapis.com/css?family=Hind:400,500,600,700');
}
	.header .nav .nav-item ul li a, .header .bar-item .items .list-items li a {
	  font-family: "Hind", serif;
	}
	.header .section-middle .section-middle-title h2,
	.header .section-middle .section-middle-price .title-price p,
	.header .nav .nav-item ul li a,
	.header .bar-item .items .list-items li a,
	.header .section-middle .section-middle-price .price h4,
	.header .section-middle .section-middle-price .price p,
	.container .container-fluid .plateforme h1, 
	.container .container-fluid .plateforme p {
		font-family: "Hind", serif;
	}
	



/*END OF FONTS*/
