.body{
	background: #ebebeb;
}

/*HEADER STYLES*/

.header .bar-item {
	background:#1e1e20;
	height: 39px;
	position: absolute;
    top: 0px;
}
.header .bar-item .items{
	padding: 11px 0 11px 70px;
}

.header .bar-item .items .list-items li a{
	color:#d3d3d4;
	text-decoration: none;
	font-size: 14px;
}
.header .bar-item .items .list-items {
	/*padding: 10px 0;*/
	overflow: hidden;
    margin: 0;
}
.header .bar-item .items ul li{
	list-style: none;
    float: left;
    font-size: 12px;
    padding: 0px 4px;
    border-right: 2px solid gray;
}

.header .bar-item .search .navbar-form{
	margin: 0;
}
.header .bar-item .search .navbar-form .input-group button{
	border: none;
}
.header .bar-item .search .navbar-form .input-group input{
	border: none;
    border-bottom: 1px solid;
    border-radius: 0px;
    background: none;
    color: #f7f7f7;
}
.header .bar-item .search .navbar-form .input-group-btn{
    padding: 5px 10px;
}
.header .bar-item .icn-media{
	background: #924d9c;
	padding: 7px 0px 6px 25px;
}
.header .bar-item .search{
    padding: 1px 20px;
}
.header .bar-item .search .navbar-form{
	padding: 2px 0px;
}  

.header .bar-item .icn-media a .fa{
	font-size: 25px;
	color: #000;
    padding: 0 5px;
}  


.header .nav{
	padding: 0;
	position: absolute;
    top: 39px;
    padding: 0 80px;
    background: rgba(0, 0, 0, 0.51)
}
.header .nav .logo-header, .header .nav .icon-phone{
	padding: 25px 25px;
}
.header .nav .icon-phone p{
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	display: inline-block;
}

.header .nav .icon-phone img{
	float: left;
    padding: 5px 9px 5px 9px;
}

.header .nav .nav-item{
	text-align: center;
}
.header .nav .nav-item ul{
	display: inline-block;
	padding: 0;
}
.header .nav .nav-item ul li{
	float: left;
    list-style: none;
    padding-right: 15px;
}
.header .nav .nav-item ul li a{
	text-decoration: none;
	color: #fff;
}


.header .flexslider{
	border: none;
	margin: 0;
}
.flex-direction-nav a:before{
	color: #fff
}
.flex-direction-nav .flex-nav-next a{
	right: 25.5% !important;
    top: 49% !important;
    text-align: left !important;
}
.flex-direction-nav .flex-nav-prev a{
	top: 59% !important;
	left: 71.5%;
	text-align: left !important;
}
.header .flexslider .flex-direction-nav a{
	height: 50px;
}
.flex-control-nav{display: none}

.header .section-middle{
	position: absolute;
	top: 45%;
	border-right: 60px solid rgba(0, 0, 0, 0.65);
	margin: 0 25%;
	background: rgba(122, 63, 103, 0.72);
}
.header .section-middle .section-middle-price .price{
	text-align: center;
}
.header .section-middle .section-middle-price .price h2, .header .section-middle .section-middle-price .title-price p, .header .section-middle .section-middle-price .price p{
	margin: 0;
}
.header .section-middle .section-middle-title h2,
.header .section-middle .section-middle-price .title-price p,
.header .section-middle .section-middle-price .price h2,
.header .section-middle .section-middle-price .price p {
	color: #fff;
}


	/*--- list items hover ---*/      
.header .bar-item .items .list-items .hvr-underline-from-center:before{
	    background: #dcdcdc;
	    height: 1px;
}
.header .bar-item .items .list-items li a:hover{
	    color: #f7f7f7;
}
.header .nav .nav-item .hvr-underline-from-center:before{
	  background: #dcdcdc;
	    height: 1px;
}
.header .nav .nav-item .hvr-trim:before{
	top: -6px;
    left: -12px;
    right: -12px;
    bottom: -3px;
    border:#dfdcda solid 2px;

}
.header .bar-item .icn-media a .fa:hover{
	color: #fff;
}  

	/*--- END OF list items hover ---*/  


/*END OF HEADER STYLES*/



/* CONTAINER STYLES */
.container {
	padding: 0px;
	float: none;
	margin: 0 auto;
    width: 85%;
}



.container .container-fluid .nav-content{
	padding: 35px 0;
}

.container .container-fluid .plateforme .btn-inscription button{
	background-color: #924d9c;
    border-color: #924d9c;
    padding: 3px 20px;
}
.container .container-fluid .plateforme h1{
    padding: 0 35px;
    color: #924d9c;
}
.container .container-fluid .plateforme .btn-inscription{
	text-align: center;
}

.container .container-fluid .form .well{
	background: #595959;
}

.container .container-fluid .form .well fieldset legend{
	color: #fff;
}

.container .container-fluid .form .well, .container .form .well .form-group{
	margin: 0;
}

.container .container-fluid .form .well .form-group .input-group label{
	padding: 0 30px;
	font-weight: 100;
    color: #fff;
}
.container .container-fluid .form .well .form-group .select-group select{
	width: 70%;
    margin: 15px 0;
}
.container .container-fluid .form .well .form-group button{
    float: right;
    position: relative;
    top: 30px;
    padding: 0px 55px;
    background-color: #924d9c;
    border-color: #924d9c;
}
.container .container-fluid .section-actualites .actualites h1{
 	border-bottom: 1px solid gray;
    width: 30%;
}
   
.container .container-fluid .section-actualites .actualites h1, 
.container .container-fluid .section-actualites .service h1{
	color: #924d9c;

}
.container .container-fluid .section-actualites .actualites .section-vente .vente h2, 
.container .container-fluid .section-actualites .actualites .section-ouverture .ouverture h2{
    font-size: 16px;
    font-weight: 700;
  	margin-top: 0px;
}
.container .container-fluid .section-actualites .actualites .section-vente .vente h5, 
.container .container-fluid .section-actualites .actualites .section-ouverture .ouverture h5{
	margin-bottom: 0px;
}
.container .container-fluid .section-actualites .actualites .section-vente, 
.container .container-fluid .section-actualites .actualites .section-ouverture{
	padding: 15px 0;
}

.container .container-fluid .section-actualites .service .parag-service{
    padding: 7% 4% 0;
}
.container .container-fluid .section-actualites .service .parag-service p{
	margin:0;
}

.container .container-fluid .section-actualites .service .title-service h1{
    position: absolute;
    background: #ebebeb;
    top: -62px;
    left: 60px;
    margin: 0;
    padding: 0 1%;
}

.container .container-fluid .section-actualites .service{

    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    margin: 10% 0 0 0;
    padding: 2% 0;
}

.container .container-fluid .first-list-services .remise,
.container .container-fluid .first-list-services .transmission,
.container .container-fluid .first-list-services .locaux,
.container .container-fluid .first-list-services .prestige,
.container .container-fluid .second-list-services .conseil, 
.container .container-fluid .second-list-services .seminaire, 
.container .container-fluid .second-list-services .finance, 
.container .container-fluid .second-list-services .reseau{
	text-align: center;
}

.container .container-fluid .first-list-services .remise h1,
.container .container-fluid .first-list-services .transmission h1,
.container .container-fluid .first-list-services .locaux h1,
.container .container-fluid .first-list-services .prestige h1,
.container .container-fluid .second-list-services .conseil h1, 
.container .container-fluid .second-list-services .seminaire h1, 
.container .container-fluid .second-list-services .finance h1, 
.container .container-fluid .second-list-services .reseau h1{
	font-size: 25px;
    color: #924d9c;
}

.container .container-fluid .first-list-services p, 
.container .container-fluid .first-list-services a,
.container .container-fluid .second-list-services p, 
.container .container-fluid .second-list-services a  
{
	text-align: left;
}
.container .container-fluid .first-list-services a,
.container .container-fluid .second-list-services a  
{
 	text-decoration: none;
    color: #924d9c;
}
 .container .container-fluid .first-list-services .savoir-plus {
 	text-align: left;
 } 

    









/* ----------------------------------------BREAK POINT---------------------------------------- */

@media only screen and (min-width: 1024px) {
  /* desktops */

}


@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* tablets */
 
 	.header .bar-item .icn-media{
 		text-align: center;
 	}
  	.header .bar-item .icn-media a {
    	padding: 0 50px;
    	
	}
	.header .bar-item .search{
		display: inline-block;
	}
	.header .nav{
		position: absolute;
    	top: 75px;
    	padding: 0 75px;
	}
	.header .bar-item .items{
		    padding: 9px 0px 9px 40px;
	}
	.header .nav .icon-phone img{
		padding: 0px 7px;
		float:none;
	}
	
	.header .bar-item .items .list-items li a{
		font-size: 15px;
	}
	.header .nav .nav-item ul li a{
		font-size: 11px;
	}
	.header .section-middle{
	    top: 19%;
    	margin: 0px 16%
	}
	.flex-direction-nav .flex-nav-prev a{
		left: 79.5%;
	    top: 58% !important;
	}
	.flex-direction-nav .flex-nav-next a{
	    right: 16.5% !important;
    	top: 72% !important;
	}
	.container .container-fluid .form{
	    margin: 20px 0;
	}
	.container .container-fluid .plateforme p {
		font-size: 20px;
	}
	.container .container-fluid .plateforme .btn-inscription button,.container .container-fluid .form .well fieldset legend{
		font-size: 25px;
	}
	.container .container-fluid .form .well .form-group .input-group label, .container .container-fluid .form .well .form-group button{
		font-size: 21px;
	}
	.container .container-fluid .form .well .form-group .select-group select{
		font-size: 17px;
	}

	.container .container-fluid .section-actualites .actualites,
	.container .container-fluid .plateforme{
		text-align: center;
	}
	.container .container-fluid .section-actualites .actualites h1{
	 	margin:0 auto;
	}
	.container .container-fluid .section-actualites .actualites .section-vente .vente h5, 
	.container .container-fluid .section-actualites .actualites .section-ouverture .ouverture h5,
	.container .container-fluid .section-actualites .actualites .section-vente .vente h2, 
	.container .container-fluid .section-actualites .actualites .section-ouverture .ouverture h2,
	.container .container-fluid .section-actualites .service .parag-service p,
	.container .container-fluid .section-actualites .actualites .section-vente .vente p,
	.container .container-fluid .section-actualites .actualites .section-ouverture .ouverture p
	{
		font-size: 28px;
	}
	.container .container-fluid .section-actualites .service{
		text-align: center;
	}
	.container .container-fluid .section-actualites .service .title-service h1{
		font-size: 30px;
	}

	.container .container-fluid .section-actualites .service .title-service h1{
		font-size: 30px;
	}
	.container .container-fluid .section-actualites{
		padding: 25px 0;
	}
	.container .container-fluid .first-list-services p, 
	.container .container-fluid .first-list-services a,
	.container .container-fluid .first-list-services h1,
	.container .container-fluid .first-list-services .remise h1, 
	.container .container-fluid .first-list-services .transmission h1, 
	.container .container-fluid .first-list-services .locaux h1, 
	.container .container-fluid .first-list-services .prestige h1,
	.container .container-fluid .second-list-services p, 
	.container .container-fluid .second-list-services a,
	.container .container-fluid .second-list-services h1,
	.container .container-fluid .second-list-services .remise h1, 
	.container .container-fluid .second-list-services .transmission h1, 
	.container .container-fluid .second-list-services .locaux h1, 
	.container .container-fluid .second-list-services .prestige h1{
		font-size: 24px;
	}
	.container .container-fluid .first-list-services img,
	.container .container-fluid .second-list-services img{
		width: 28%;
	}
	




}


	
}

@media only screen and (max-width: 767px) {
  /* phones */
  	.header .section-middle{
  		top: 15%;
  	}

 }

 



/*---------------------------------------END OF BREAK POINT-----------------------------/


/*FONTS*/

 @font-face {
	font-family: 'flexslider-icon';
	src:url('../fonts/flexslider-icon.eot');
	src:url('../fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),
	    url('../fonts/flexslider-icon.woff') format('woff'),
	    url('../fonts/flexslider-icon.ttf') format('truetype'),
	    url('../fonts/flexslider-icon.svg#flexslider-icon') format('svg');
	font-weight: normal;
	font-style: normal};
	
}

@font-face {
	font-family: 'Hind', sans-serif;
	
	src: url('https://fonts.googleapis.com/css?family=Hind:400,500,600,700');
}
	.header .nav .nav-item ul li a, .header .bar-item .items .list-items li a {
	  font-family: "Hind", serif;
	}
	.header .section-middle .section-middle-title h2,
	.header .section-middle .section-middle-price .title-price p,
	.header .nav .nav-item ul li a,
	.header .bar-item .items .list-items li a,
	.header .section-middle .section-middle-price .price h4,
	.header .section-middle .section-middle-price .price p,
	.container .container-fluid .plateforme h1, 
	.container .container-fluid .plateforme p,
	.container .container-fluid .form .well fieldset legend,
	.container .container-fluid .form .well .form-group .input-group label,
	.container .container-fluid .form .well .form-group .select-group select,
	.container .container-fluid .form .well .form-group .select-group select option,
	.container .container-fluid .plateforme .btn-inscription button,
	.container .container-fluid .section-actualites,
	.container .container-fluid .list-services




	{
		font-family: "Hind", serif;
	}
	



/*END OF FONTS*/
